
.user
  = render 'user_side'
  .user__body
    .user__body__bgc
      .userlisence
        .userlisence--title
          Trading License
        .userlisence--name
          %p
            = @nickname
            様
      .prof
        .prof__data
          登録日：aaa
        .prof__data
          現在の出品数：aaa
        .prof__data
          コメントされた数：aaa
        .prof__data
          コメントした数：aaa
    .user__body__subtitle
      最近出品した商品
    .user__body__lists
      

