.sell-container
  .sell-image
    .sell-title
      %label.sell__text
        出品画像
      %span.sell__require
        必須
    .sell-image__box
    .error-messages
  .sell-item
    .sell-title
      %label.sell__text
        商品名
      %span.sell__require
        必須
    .error-messages
    .sell-title
      .sell__text
        %label 商品の説明
      .sell__require
        %span 必須  
      .sell-item_word
  .sell-detail
    .sell__head
      %p 商品の詳細
    .sell-title
      .sell__text
        %label カテゴリー
      .sell__require
        %span 必須
    .sell-select-category
    .sell-title
      .sell__text
        %label ブランド
      .sell__require
        %span 任意
    .sell-title
      .sell__text
        %label 商品の状態
      .sell__require
        %span 必須
    .sell-select-state
  .sell-shipping
    .sell__head
      %p 配送について
    .sell-title
      .sell__text
        %label 配送料の負担
    .sell__require
      %span 必須
    .sell-select-charge
    .sell-title
      .sell__text
        %label 発送元の地域
      .sell__require
        %span 必須
    .sell-select-area
      
    .sell-title
      .sell__text
        %label 発送までの日数
      .sell__require
        %span 必須
    .sell-select-date
  .sell-sale
    .sell-price
      .sell__head
        %p 価格（¥300〜9,999,999）
    .sell-title
      .sell__text
        %label 販売価格
      .sell__require
        %span 必須
      .sell-price__commission
        .sell-price__commission--left
          販売手数料（10%）
        .sell-price__commission--right —
      .sell-price__commission
        .sell-price__commission--left
          販売利益
        .sell-price__commission--right —
    .submit-btn
    .submit-btn
    .submit-btn
    .sell-ban
      .sell-ban--text