.BreadCrumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  display: flex;
}
.BreadCrumbs ul{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
}
.BreadCrumbs li{
  padding: 0 10px 0 0;
  float: left;
}
.BreadCrumbs a {
  text-decoration: none;
  color: #333;
}
.BreadCrumbs a:hover {
  color: #3CCACE;
}
.BreadCrumbs ul li:last-child {
  font-weight: bold;
}
.ProductMain {
  background: #f8f8f8;
  .ShowMain {
    padding: 40px;
    margin: 0 auto;
    .Content {
      width: 700px;
      margin: 0 auto;
      .ItemBox {
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__images {
          text-align: center;
          margin: 16px 0 0;
        }
        &__images ul {
         display: flex;
         position: relative;
         
          li {
          display: flex;
          flex-direction: column;
          width: 560px;
          align-items: center;
          margin: 0 auto;
          }
          img {
            object-fit: cover;
            height: 346px;
            width: 100%;
            vertical-align: bottom;
          }
          ul {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            li {
              width: 25%;
              margin: 0 10px 0 0;
            }
            img {
              object-fit: cover;
              height: 87px;
            }
          }
        }
        &__price {
          font-size: 46px;
          font-weight: bold;
          margin: 24px 0 24px;
          text-align: center;
          &__detail {
            font-size: 16px;
            text-align: center;
            font-weight: normal;
          }
        } 
        &__description {
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        
        &__table {
          margin-bottom: 20px
        }   
        &__table table {
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
        }
        &__table th {
          width: 20%;
          background-color: #eee;
          font-weight: 400;
          padding: 8px;
          border: 1px solid #dedede;
          font-size: 14px;
          text-align: center;
        }
        &__table td {
          width: 61%;
          padding: 15px 15px;
          border: 1px solid #dedede;
          font-size: 14px;
        }
        &__table td a{
          text-decoration:none;
          color:#3CCACE;
        }
        &__option {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          margin-top: 30px;
          &__likeBtn a{
            padding: 10px;
            border-radius: 40px;
            color: #3CCACE;
            border: 1px solid #ffb340;
            text-decoration: none;
          }
          &__likeBtn {
            margin-top: 10px;
          }
          
          &__likeBtn:hover{
            opacity: 0.5;
          }
          &__optionalBtn a{
            padding: 6px 10px;
            display: inline-block;
            border-radius: 4px;
            color: #333;
            border: 1px solid #333;
            text-decoration: none;
          }
          &__optionalBtn :hover{
            opacity: 0.5;
          }
        }
      }
      .CommentBox {
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        &__body {
          width: 100%;
          min-height: 104px;
          padding: 10px;
        }
        &__msg {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        &__btn {
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
      }
      .MoreLink {
        display: flex;
        justify-content: space-between;
      }
      .MoreLink a{
        text-decoration: none;
        color: #3CCACE;
      }
      .MoreItems a{
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
      .MoreItems {
        &__lists {
          &__list {
            margin: 0 0 10px;
            display: flex;
            width: calc(100% / 3);
            &--img {
              background-color: #fff;
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
            }
            &--img img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
            &__productBody {
              background-color: white;
              color: #333;
              padding: 16px;
              &__name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__details ul{
                font-size:16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              &__details p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
          &__list:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
}