%aside.Banner
  .Contents
    %h2.Contents__title
      だれでもかんたん、人生をかえるフリマアプリ
    %p.Contents__text
      今すぐ無料ダウンロード！
    .Contents__icon
      = link_to image_tag("material/pict/app-store-.svg", class:"Contents__icon--btn")
      = link_to image_tag("material/pict/google-play.svg", class:"Contents__icon--btn")